<app-adminbar></app-adminbar>
<div class="cart" *ngIf="this.products && this.products.length>=1; else elseBlock;">
    <div class="cart-card" *ngFor="let item of this.products">
        <div class="img"><img src="{{item.imgpath}}" class="cart-img" /></div>
        <span class="cart-price"><i class="far fa-rupee-sign"></i>{{item.type}}</span>
        <span class="cart-price"><i class="far fa-rupee-sign"></i>Rs. {{item.price}}</span>
        <button class="cart-btn" (click)="onDelete(item)">Delete</button>
    </div>
</div>
<ng-template #elseBlock>
    <p class="oops">Oops ...No products yet !</p>
</ng-template>

